@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h4>Create a new account.</h4>
    <hr />
        <div class="row">
        <div class="form-group col-md-4">
            <span><label asp-for="Input.Voornaam"></label> *</span>
            <input asp-for="Input.Voornaam" class="form-control" placeholder="Stef" />
            <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <span><label asp-for="Input.Familienaam"></label> *</span>
            <input asp-for="Input.Familienaam" class="form-control" placeholder="Janssens" />
            <span asp-validation-for="Input.Familienaam" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <span><label asp-for="Input.Adres.Straatnaam"></label> *</span>
            <input asp-for="Input.Adres.Straatnaam" class="form-control" placeholder="Burg" />
            <span asp-validation-for="Input.Adres.Straatnaam" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <span><label>Huisnummer</label> *</span>
            <input asp-for="Input.Adres.Huisnr" class="form-control" placeholder="29" />
            <span asp-validation-for="Input.Adres.Huisnr" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Input.Adres.Bus"></label>
            <input asp-for="Input.Adres.Bus" class="form-control" placeholder="V002" />
            <span asp-validation-for="Input.Adres.Bus" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <span><label>Gemeente</label> *</span>
            <input asp-for="Input.Adres.Gemeente.Naam" class="form-control" placeholder="Torhout" />
            <span asp-validation-for="Input.Adres.Gemeente.Naam" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <span><label asp-for="Input.Adres.Gemeente.Postcode"></label> *</span>
            <input asp-for="Input.Adres.Gemeente.Postcode" class="form-control" placeholder="8820" />
            <span asp-validation-for="Input.Adres.Gemeente.Postcode" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <span><label>Gsm-nummer</label> *</span>
            <input asp-for="Input.Gsmnr" class="form-control" placeholder="0499 70 58 14" />
            <span asp-validation-for="Input.Gsmnr" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Telefoonnummer</label>
            <input asp-for="Input.Telefoonnr" class="form-control" />
            <span asp-validation-for="Input.Telefoonnr" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
