@model CoronaData.Models.Locatie
@{
    ViewData["Title"] = "Locaties";
}

<div class="card bg-dark text-white">
    <img class="card-img img-fluid " src="~/images/home-banner.jpg" />
    <div class="card-img-overlay text-lg-left">
        <h1 class="display-3 font-weight-bolder" style="font-size:3rem">Locaties</h1>

        <p class="lead font-weight-bold embed-responsive" style="font-size:1rem">Voeg een locatie die je bezocht hebt toe</p>
    </div>
</div>

<p class="lead">Velden met * zijn verplicht in te vullen</p>
<form method="post" asp-action="LocatieToevoegen" asp-controller="Locatie">
    <div class="row">
        <div class="form-group col-md-4">
            <span><label asp-for="Naam"></label> *</span>
            <input asp-for="Naam" class="form-control" placeholder="'t Ribbetje" autofocus />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <span><label asp-for="Adres.Straatnaam"></label> *</span>
            <input asp-for="Adres.Straatnaam" class="form-control" placeholder="Burg" />
            <span asp-validation-for="Adres.Straatnaam" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <span><label>Huisnummer</label> *</span>
            <input asp-for="Adres.Huisnr" class="form-control" placeholder="29" />
            <span asp-validation-for="Adres.Huisnr" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Adres.Bus"></label>
            <input asp-for="Adres.Bus" class="form-control" placeholder="V002" />
            <span asp-validation-for="Adres.Bus" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <span><label>Gemeente</label> *</span>
            <input asp-for="Adres.Gemeente.Naam" class="form-control" placeholder="Torhout" />
            <span asp-validation-for="Adres.Gemeente.Naam" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <span><label asp-for="Adres.Gemeente.Postcode"></label> *</span>
            <input asp-for="Adres.Gemeente.Postcode" class="form-control" placeholder="8820" />
            <span asp-validation-for="Adres.Gemeente.Postcode" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <p class="alert-danger">@ViewBag.VanTot</p>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <span><label>Van</label> *</span>
            <input asp-for="Van" class="form-control" placeholder="Torhout" />
            <span asp-validation-for="Van" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <span><label>Tot</label> *</span>
            <input asp-for="Tot" class="form-control" placeholder="Torhout" />
            <span asp-validation-for="Tot" class="text-danger"></span>
        </div>
    </div>
    <input type="submit" value="Locatie toevoegen" class="btn btn-dark" />
</form>
<br />

<a asp-action="BekijkLocatieLijst" asp-controller="Locatie" class="btn btn-dark">Bekijk lijst met locaties</a>