@{
    ViewData["Title"] = "Info";
}

<div class="text-center"> 
    <div class="card bg-dark text-white">
        <img class="card-img img-fluid " src="~/images/home-banner.jpg"/>
        <div class="card-img-overlay text-lg-left">
            <h1 class="display-3 font-weight-bolder" style="font-size:3rem" >Welkom</h1>
            
            <p class="lead font-weight-bold embed-responsive"style="font-size:1rem">Dit is een showcase rond covid-19</p>
        </div>
    </div>
    <br />
    <br />

    <div class="card-deck">
        <div class="card text-left">
            <div class="card-body">
                <div class="icon-custom justify-content-center">
                    <img class="card-img-top" src="~/images/info.png" alt="info_icon" />  
                </div>
                <br />
                <h5 class="card-title">Info</h5>
                <p>Leer hier bij over covid-19 en hoe de verspreiding in te perken.</p>
            </div>
            <div class="card-footer">
                <a asp-action="Info" asp-controller="Home" class="btn btn-dark btn-block">Info</a>
            </div>
        </div>
        <div class="card text-left">
            <div class="card-body">
                <div class="icon-custom justify-content-center">
                    <img class="card-img-top" src="~/images/shopping-cart.png" alt="info_icon" />
                </div>
                <br />
                <h5 class="card-title">Webshop</h5>
                <p>Koop hier je mondmaskers, handsanitizers en alcoholgels.</p>
            </div>
            <div class="card-footer">
                <a asp-action="Index" asp-controller="Webshop" class="btn btn-dark btn-block">Webshop</a>
            </div>
        </div>
        <div class="card text-left">
            <div class="card-body">
                <div class="icon-custom justify-content-center">
                    <img class="card-img-top" src="~/images/shopping-bag.png" alt="info_icon" />

                </div>
                <br />
                <h5 class="card-title">Winkelmandje</h5>
                <p>Bekijk hier je winkelmandje.</p>
            </div>
            <div class="card-footer">
                <a asp-action="Index" asp-controller="MandjeTonen" class="btn btn-dark btn-block">Winkelmandje</a>
            </div>
        </div>

        <div class="card text-left">
            <div class="card-body">
                <div class="icon-custom justify-content-center">
                    <img class="card-img-top" src="~/images/Location.png" alt="info_icon" />
                </div>
                <br />
                <h5 class="card-title">Locaties</h5>
                <p>Voer hier de locaties in die je bezocht hebt.</p>
            </div>
            <div class="card-footer">
                <a asp-action="Index" asp-controller="Locatie" class="btn btn-dark btn-block">Locaties</a>
            </div>
        </div>

        <div class="card text-left">
            <div class="card-body">
                <div class="icon-custom justify-content-center">
                    <img class="card-img-top" src="~/images/virus.png" alt="info_icon" />
                </div>
                <br />
                <h5 class="card-title">Besmetting</h5>
                <p>Controleer of je de voorbije dagen in contact kwam met een besmet persoon.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-action="Index" asp-controller="Besmetting" class="btn btn-dark btn-block">Besmetting</a>
            </div>
        </div>
    </div>
</div>
