<div id="eigenPageHeader">
    <h1>Info</h1>
</div>


<body>
    <p>Het coronavirus is een nieuw en heel besmettelijk virus. Je kan het makkelijk van andere mensen krijgen of doorgeven.</p>
    <p>De belangrijkste symptomen zijn:</p>
    <ul>
        <li>
                koorts, hoesten en problemen met ademen.
        </li>
        <li>
                soms een verstopte neus, keelpijn en diarree.
        </li>
    </ul>
    <p>Heb je één van deze symptomen? Bel naar je <b>huisarts</b>.</p>
    <p>
        Sommige mensen hebben het virus maar hebben geen symptomen.
    </p>
    <p>
        Als je hoest of niest vliegen er kleine druppeltjes in de lucht. Zo kan het virus zich verspreiden en op dingen vallen.
        De druppeltjes vliegen gemiddeld tot één meter ver. Hoe geraak je besmet? Als je die druppeltjes inademt of door je handen in de mond, neus of ogen krijgt.
    </p>
    <p>
        <b>
            Wat moet je doen?
        </b>
    </p>
    <ul>
        <li>
            Hou een afstand van 1,5 meter van andere personen.
        </li>
        <li>
            Was vaak je handen. Doe dit zeker als je dingen aanraakt die vele andere personen aanraken. Bijvoorbeeld: een deurklink of een liftknop.
        </li>
        <li>
            Beperk je fysieke sociale contacten.
        </li>
        <li>
            Draag een mondmasker op drukke openbare plaatsen.
        </li>
        <li>
            Blijf thuis als je ziek bent.
        </li>
    </ul>
    <p>
        Niemand heeft antistoffen om immuun te zijn voor het virus. Er is momenteel ook nog geen vaccinatie.
        Dokters en wetenschappers onderzoeken op dit moment het virus. Ze analyseren elke zieke persoon en leren elke dag bij. 
        Zo kunnen ze een goede behandeling vinden. Ben je ziek en lig je niet in het ziekenhuis? Dan is paracetamol het beste medicijn tegen koorts en pijn.
    </p>
</body>